.sidebar {
  margin-right: 67px;
}

.sidebar__user-info-container {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  margin-bottom: 24px;
}

.sidebar__avatar-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__username {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.sidebar__user-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.sidebar__user-button {
  font-family: "CabinetGrotesk-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0;
}

